tabla:
"
-------------------------------
-------------------------------
----------oo-------------------
-----------o-------------------
------------oo-----------------
------------o------------------
-------------------------o-----
-------------------------------
-------------------------o-----
-------------------------------
-------------------------------
-------------------------------
-------------------------------
"

ezt a sort nem kell feldolgozni
halott_sejt: "-"
elo_sejt: "o"
egyeb: "lorem ipsum"